#logo_disp {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#name_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

#compony_name {
    font-size: 30px;
    margin: auto;
}