#logo_disp {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    width: 100%;
}

#name_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

#compony_name {
    font-size: 30px;
    margin: auto;
}