table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table_heading{
    min-width: 100px;
}

#table-container{
    max-width: 600px;
}

.delete_button{
    text-decoration: none;
    color: crimson;
}

.delete_button:hover{
    color: #fff;
    background-color: crimson;
}

.edit_button{
    text-decoration: none;
    color: green;
    cursor: pointer;
}

.edit_button:hover{
    color: #fff;
    background-color: green;
}

.table-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}