.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dashboard_heading{
  margin-top: 150px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  height: fit-content;
}

#dashboard-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-self: center;
  position: absolute;
  top: 0px;
  left: 100px;
}
#sort-content{
  min-height: 500px;
}